@using System.Net.Mime
@using Meetinger.Areas.Identity.Data
@model Meeting
@{
    ViewData["Name"] = "Meeting";
}


<h1>Scheduled Meeting</h1>

<dl>
    <dt>Id</dt>
    <dd>@Model.MeetingTime</dd>
    <dt>Data</dt>
    <dd>@Model.EndTime</dd>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>Description</dt>
    <dd>@Model.Description</dd>
</dl>

@foreach (var user in Model.Participants)
{
    <div class="participant-name">
        @user.Participant.FirstName
    </div>
}

<p class="creator-username">@Model.Creator.UserName</p>