@model Meeting

@{
    ViewData["Title"] = "MyMeetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="custom-title">Update Meeting</h1>
                    <form asp-action="UpdateMeetingTask" method="post" id="addPostForm">
                        <div class="form-group">
                            <label asp-for="MeetingTime"></label>
                            <input asp-for="MeetingTime" class="form-control name-label" value="@Model.MeetingTime"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndTime"></label>
                            <input asp-for="EndTime" class="form-control name-label" value="@Model.EndTime"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <textarea asp-for="Name" class="form-control name-label">@Model.Name</textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control desc-label">@Model.Description</textarea>
                            <input asp-for="Id" type="hidden" value="@Model.Id"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="AvailableUsers"></label>
                            @foreach (var user in Model.AvailableUsers)
                            {
                                <div>
                                    <input type="checkbox" class="form-check-input" id="@user.Id" name="selectedUsers" value="@user.Id">
                                    <label class="form-check-label" for="@user.Id">@user.FirstName</label>
                                </div>
                            }
                        </div>

                        <button type="submit" id="submitPostBtn" class="btn submit-button">Submit Meeting</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>